.gradle
/build/
/out/
/bin/
!gradle/wrapper/gradle-wrapper.jar
holidays.log
holidays.log.*.gz
migrate-to-1.0.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
